

body {
    background-image:url(./dream-art-7704961.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0%;
    font-family: "roboto", serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
}
/*soll alles in die mitte und genugend rand lassen drum herum, evtl neuen div erstellen*/
.login-form {
    font-weight: 200;
    border: solid rgb(255, 255, 255) 1.25px;
    height: 50%;
    width: 250px;
    height: 300px;
    border-radius: 10%;
    background-color: rgb(256, 256, 256, 0.3);
    backdrop-filter: blur(1px);
}

.fields {
    display: flex;
    flex-direction: column;
    max-height: 210px;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    color: rgb(0, 0, 0);
}
/*eingabefelder rund machen*/

#username, #password {
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    height: 25px;
    border-color: rgb(0, 0, 0);
    background: transparent;    
    background-color: rgba(255, 255, 255, 0.442);
    margin: 5px;
}

input::placeholder {
    color: black;
}

.username-field, .password-field {
    position: relative;
}


#username-id {
    position: absolute;
    top: 25%;
    right: 5%;
}

#password-id {
    position: absolute;
    top: 5%;
    right: 5%;
}




h2 {
    font-family: "roboto";
    font-weight: 400;
    font-size: x-large;
    margin: 0%;
    text-align: center;
    color: rgb(37, 37, 37);
    padding: 10px 0px 0px 0px;
    height: 50px;
}

h3 {
    font-family: "roboto";
    font-weight: 300;
    font-size: medium;
    margin: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 0.528);
    height: 20px;
}

/*google verbindung hinzufugen sowie neuen acc erstellen ebenfalls hinzufugen*/
